/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Definimos nuestra paleta de WoW 3.3.5a */
  --color-wow-dark: #050509;
  --color-wow-card: #0d1117;
  --color-wow-gold: #f8b700;
  --color-wow-blue: #00ccff;
  --color-wow-blue-gray: #94a3b8;

  /* También podemos añadir fuentes o animaciones aquí si lo deseas */
}

/* Estilos base opcionales para que el cuerpo de la web sea siempre oscuro */
:root {
  background-color: var(--color-wow-dark);
  color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
}